-# edit.html.haml

%h1 Edit Existing License @license.licenseId

= form_tag license_path(@movie), :method => :put do

  = label :license, :ogranisationName, 'Organization Name'
  = text_field :license, 'organisationName'

  = submit_tag 'Update'
